* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

section {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

section h2 {
    padding: 24px;
    font-size: 36px;
    text-align: center;
}

form {
    max-width: 360px;
    width: 100%;
}

form label {
    font-weight: bold;
    display: block;
}

form input {
    width: 100%;
    display: block;
    padding: 6px;
    
}

button {
    display: block;
    width: 100%;
    background-color: blueviolet;
    padding: 8px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 8px;
    border: none;
}